@use "resets";

$breakpoint_desktop: 850px;

@mixin desktop {
  @media only screen and (min-width: #{$breakpoint_desktop}) {
    @content;
  }
}

html {
  min-height: 100%;
}

.header {
  background-image: url("./images/header-background.jpg");

  .header-section {
    font-family: "Rubik", sans-serif;

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .header-logo {
      color: white;
      text-decoration: none;
      font-size: 3em;
      display: flex;
      align-items: center;
    }
    .header-logo-image {
      padding: 1rem;
    }
    .header-link-list {
      display: none;
    }
    .header-log {
      display: none;
    }

    @include desktop {
      display: flex;
      .burger {
        display: none;
      }

      .header-link-list {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;

        .header-links {
          margin-inline: 0.5rem;
          color: white;
          text-decoration: none;

          background-image: linear-gradient(#ff7757, #ff7757);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 2px;
          transition: background-size 0.3s;
        }
        .header-links:hover {
          background-size: 100% 2px;
        }
      }
      .header-log {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin-block: 2rem;
        align-items: center;
        .sign-button {
          background-color: #ff7757;
          border: none;
          color: white;
          margin-inline: 1.5rem;
          border-radius: 7%;
          width: 5rem;
          padding: 1rem;
        }
        .log-link {
          color: white;
          text-decoration: none;
        }
      }
      .welcome {
        display: flex;
        flex-wrap: wrap;
        padding-right: 20rem;
      }

      .welcome-title {
        font-size: 5em;
      }

      .welcome-phrase {
        font-size: 1.5em;
      }
    }
  }
  .welcome {
    color: white;
    padding: 1rem;
    padding-bottom: 2rem;
  }
  .welcome-title {
    font-family: "Playfair Display", serif;
    font-size: 3em;
  }
  .welcome-phrase {
    font-family: "Rubik", sans-serif;
    font-size: 1.5em;
    padding-top: 1.5rem;
  }
  .form {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
  }
  .form-input {
    margin-top: 2rem;
    margin-inline: 2rem;
    padding-top: 1rem;
    padding-inline: 1rem;

    .form-input__box {
      background-color: white;
      border-radius: 8%;

      .form-input__text {
        display: flex;
        flex-direction: column;
        padding-block: 2rem;
        padding-inline: 1rem;
        border-bottom: #ff7757 1px solid;
        max-width: 80%;
        margin-left: 1rem;
        margin-bottom: 1rem;
      }
      .form-title {
        font-family: "Rubik", sans-serif;
      }
      .input-text {
        max-width: 50%;
        border: none;
        padding-top: 0.5rem;
        font-family: "Playfair Display", serif;
      }
    }
  }
  .form-button {
    background-color: #ff7757;
    text-align: center;

    padding: 3rem;
  }
  .book-button {
    background-color: #ff7757;
    font-size: 2em;
    border: none;
    font-family: "Playfair Display", serif;
  }
}

.footer {
  color: white;
  background-color: rgb(18, 27, 37);
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  height: 33%auto;

  .homepage-link {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 3em;
    .footer-logo {
      margin-top: 3rem;
    }
  }

  .copyright {
    font-size: 1.5em;
    margin: 1rem;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .footer-link {
      color: white;
      text-decoration: none;
    }

    .footer-block {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 10rem;

      .footer-title {
        font-size: 1.4em;
      }
    }
  }
  .footer-logo-links {
    padding: 1rem;

    .footer-title__logo {
      margin-bottom: 0.8rem;
    }

    .footer-logo-block {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
    }

    .footer-logo {
      padding: 1rem;
    }
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6rem;
    justify-content: space-between;
    padding: 3rem;
  }
}
