html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  min-height: 100%;
}

.header-section {
  font-family: "Rubik", sans-serif;
  background-image: url("./images/header-background.jpg");
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.header-section .header-logo {
  color: white;
  text-decoration: none;
  font-size: 3em;
  display: flex;
  align-items: center;
}
.header-section .header-link-list {
  display: none;
}
.header-section .header-log {
  display: none;
}
@media only screen and (min-width: 850px) {
  .header-section {
    display: flex;
  }
  .header-section .burger {
    display: none;
  }
  .header-section .header-link-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .header-section .header-link-list .header-links {
    margin-inline: 0.5rem;
    color: white;
    text-decoration: none;
  }
  .header-section .header-link-list .header-links:hover {
    position: absolute;
    border-bottom: 2rem rgb(234, 94, 68);
  }
  .header-section .header-log {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 2rem;
    align-items: center;
  }
  .header-section .header-log .sign-button {
    background-color: #ff7757;
    border: none;
    color: white;
    margin-inline: 1.5rem;
    border-radius: 7%;
    width: 5rem;
    padding: 1rem;
  }
  .header-section .header-log .log-link {
    color: white;
    text-decoration: none;
  }
}

.footer {
  color: white;
  background-color: rgb(18, 27, 37);
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  height: 33% auto;
}
.footer .homepage-link {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 3em;
}
.footer .homepage-link .footer-logo {
  margin-top: 3rem;
}
.footer .copyright {
  font-size: 1.5em;
  margin: 1rem;
}
.footer .footer-menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer .footer-menu .footer-link {
  color: white;
  text-decoration: none;
}
.footer .footer-menu .footer-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10rem;
}
.footer .footer-menu .footer-block .footer-title {
  font-size: 1.4em;
}
.footer .footer-logo-links {
  padding: 1rem;
}
.footer .footer-logo-links .footer-title__logo {
  margin-bottom: 0.8rem;
}
.footer .footer-logo-links .footer-logo-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.footer .footer-logo-links .footer-logo {
  padding: 1rem;
}
@media only screen and (min-width: 850px) {
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6rem;
    justify-content: space-between;
    padding: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
